/* =====================================
IMAN DJ AI STUDIO
RCF STYLE HARDWARE INTERFACE
===================================== */


*{
box-sizing:border-box;
font-family:Arial, sans-serif;
}



body{

margin:0;

background:#060606;

color:#ddd;

}




.header{

background:#101010;

padding:25px;

text-align:center;

border-bottom:2px solid #333;

}



.header h1{

font-size:36px;

letter-spacing:3px;

}



.header p{

color:#999;

}




.tabs{

display:flex;

justify-content:center;

gap:8px;

flex-wrap:wrap;

margin-top:20px;

}





button{

background:#222;

color:#eee;

border:1px solid #555;

padding:10px 18px;

border-radius:5px;

font-weight:bold;

}




button:hover{

background:#555;

}






/* RACK PANELS */


.rack,
.rcf-rack{

background:
linear-gradient(#202020,#0b0b0b);

border:2px solid #333;

border-radius:12px;

margin:20px;

padding:25px;

box-shadow:
0 10px 30px #000;

}





/* DECKS */


.decks{

display:flex;

gap:25px;

justify-content:center;

flex-wrap:wrap;

}




.deck{

width:360px;

background:#111;

border:1px solid #444;

border-radius:15px;

padding:20px;

text-align:center;

}




.jog{

height:220px;

width:220px;

margin:20px auto;

border-radius:50%;


background:
radial-gradient(circle,#666,#222 40%,#000 70%);


border:10px solid #333;

display:flex;

align-items:center;

justify-content:center;

font-size:45px;

font-weight:bold;

}





.wave{

height:80px;

background:#000;

border:1px solid #444;

display:flex;

align-items:center;

justify-content:center;

color:#00ff88;

}






input[type=range]{

width:90%;

accent-color:#aaa;

}





/* EFFECT MODULES */


.rcf-module{

background:#151515;

border:1px solid #444;

border-radius:10px;

padding:25px;

margin:20px 0;

}




.rcf-module h3{

color:#00aaff;

letter-spacing:2px;

}





.knobs{

display:flex;

gap:25px;

justify-content:center;

flex-wrap:wrap;

}




.knob{

height:75px;

width:75px;

border-radius:50%;

background:

radial-gradient(circle,#777,#111);


border:5px solid #444;

display:flex;

align-items:center;

justify-content:center;

font-size:11px;

color:white;

}







/* EQ */


.eq-rack{

display:flex;

gap:12px;

align-items:flex-end;

overflow-x:auto;

background:#090909;

padding:20px;

}



.eq-band{

display:flex;

flex-direction:column;

align-items:center;

}



.eq-band input{

height:230px;

writing-mode:vertical-lr;

direction:rtl;

}



.eq-band span{

font-size:10px;

margin-top:10px;

color:#aaa;

}





/* MASTER */


.master-output{

height:220px;

width:50px;

margin:auto;

background:

linear-gradient(
to top,
#00ff66 40%,
#222 40%
);


border-radius:10px;

}




@media(max-width:700px){

.deck{

width:95%;

}


}
