*{
box-sizing:border-box;
}

body{
margin:0;
background:#050505;
color:white;
font-family:Arial,Helvetica,sans-serif;
}


header{
text-align:center;
padding:30px 10px;
background:#111;
border-bottom:2px solid #333;
}

header h1{
font-size:38px;
letter-spacing:2px;
margin:0;
}

header p{
font-size:20px;
color:#aaa;
}



nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
padding:20px;
background:#090909;
}


button{
background:#1b1b1b;
color:white;
border:1px solid #444;
padding:12px 25px;
border-radius:6px;
font-size:16px;
cursor:pointer;
}


button:hover{
background:#00ff88;
color:black;
}



.rack{
background:#111;
margin:25px auto;
padding:25px;
max-width:900px;
border:2px solid #292929;
border-radius:20px;
box-shadow:0 0 20px #000;
}



h2{
font-size:32px;
letter-spacing:2px;
}



.decks{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
}



.deck{
background:#181818;
border:2px solid #333;
border-radius:20px;
padding:25px;
width:380px;
text-align:center;
}



.jog{
height:220px;
width:220px;
margin:20px auto;
border-radius:50%;
background:
radial-gradient(circle,#555,#111 45%,#000 70%);
border:10px solid #333;
display:flex;
align-items:center;
justify-content:center;
font-size:45px;
font-weight:bold;
}



.wave{
height:100px;
background:#000;
border:1px solid #333;
display:flex;
align-items:center;
justify-content:center;
color:#00ff88;
font-size:25px;
margin:20px 0;
}



input[type="range"]{
width:80%;
accent-color:#00ff88;
margin:15px;
}



label{
display:block;
font-size:18px;
margin-top:10px;
}



.effect{
background:#181818;
border:1px solid #333;
border-radius:15px;
padding:25px;
margin:15px;
}



.effect h3{
color:#00ff88;
font-size:25px;
}



.eq{
display:grid;
grid-template-columns:repeat(6,1fr);
gap:20px;
padding:20px;
}



.eq input{
height:160px;
writing-mode:vertical-lr;
transform:rotate(180deg);
width:20px;
}



.meter{
height:250px;
width:50px;
margin:auto;
background:#00ff88;
border-radius:10px;
box-shadow:0 0 20px #00ff88;
}



@media(max-width:700px){

header h1{
font-size:28px;
}


.deck{
width:100%;
}


.eq{
grid-template-columns:repeat(3,1fr);
}

}
