
body{
margin:0;
background:#050505;
color:white;
font-family:Arial, sans-serif;
}

header{
text-align:center;
font-size:35px;
font-weight:bold;
padding:30px;
letter-spacing:5px;
}

.container{
padding:15px;
}

button{
background:#202020;
color:white;
border:1px solid #444;
padding:12px 18px;
border-radius:5px;
font-weight:bold;
}

button:hover{
background:#00aa55;
}

nav{
display:flex;
gap:8px;
flex-wrap:wrap;
justify-content:center;
padding:15px;
background:#111;
}

nav button{
min-width:100px;
}

.decks{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.deck,
.mixer,
.effects,
.equalizer,
.output{
background:#151515;
border:1px solid #333;
border-radius:15px;
padding:20px;
margin:20px;
box-shadow:0 0 20px #000;
}

h2{
text-align:center;
color:#00ff88;
letter-spacing:2px;
}

.screen{
height:120px;
background:#000;
border:2px solid #333;
display:flex;
align-items:center;
justify-content:center;
color:#00ff88;
font-size:22px;
border-radius:10px;
}

input[type=file]{
margin:15px 0;
}

.slider{
width:100%;
accent-color:#0088ff;
}

.meter{
width:35px;
height:220px;
background:#000;
border:2px solid #333;
margin:auto;
}

.level{
height:70%;
background:#00ff00;
}

.knob{
width:45px;
height:45px;
border-radius:50%;
background:#222;
border:3px solid #777;
display:inline-block;
margin:10px;
}

.rack{
background:#222;
border:2px solid #555;
padding:20px;
margin:15px;
border-radius:10px;
}

.effect-title{
font-size:25px;
color:#00ff88;
}

.eq{
display:flex;
gap:15px;
overflow-x:auto;
}

.eq input{
height:180px;
writing-mode:bt-lr;
transform:rotate(-90deg);
}

.master{
text-align:center;
font-size:25px;
}
